<!doctype html>
<html lang="en">
	<head> 
		<meta charset="utf-8">
		<title>Project CSC210 Fall 2021</title>	
		<link rel = "stylesheet" type = "text/css" href = "{{ url_for('static', filename='styles.css') }}">
	</head>
	<body>
		<h1>Welcome to Fantasy Survior</h1>
		<!-- This will become the nav bar later -->
		<ul>
			<li><a class="button" href="http://127.0.0.1:5000/login">Log Into Account</a></li>
			<li><a class="button" href="http://127.0.0.1:5000/createaccount">Create Account</a></li>
		</ul>
	</body>
</html>	

