@charset "UTF-8";
/* CSS Document */

/*custom Survivor font */
@font-face {
  font-family: survivor;
  src: url("SurvivorFont.ttf");
}

body {
  background-color: #b5c7e4;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans",
    "DejaVu Sans", Verdana, "sans-serif";
}

h1 {
  padding-top: 100px;
  color: #1f345c;
  font-family: survivor;
  text-transform: uppercase;
  font-size: 80px;
}

.survivor {
  color: #1f345c;
  font-family: survivor;
  text-transform: uppercase;
}

ul {
  list-style: none;
}

.input {
  padding-top: 10px;
  padding-bottom: 10px;
}

.logo {
  padding-bottom: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.other{
  padding-bottom: 20px;
}

.flash {
  padding: 100px;
}

img.smallIMG {
  max-height: 80px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.myteam {
  border: dashed black 1px;
  padding: 10px;
  margin: 5px;
}
.points {
  border: dashed white 1px;
  padding: 10px;
  margin: 5px;
}
.updates {
  border: dashed grey 1px;
  padding: 10px;
  margin: 5px;
}

.container2 {
  margin: 0 auto;
  max-width: 1000px;
  display: grid;
  grid-template-columns: 2fr 3fr 3fr;
}
.chooseCastaway{
	max-height: 100px;
}

.card{
	margin: 10px;
	padding: 20px;
  padding-bottom: 0px;
}

p.para{
	margin: 0px;
	text-align:center;
}

h3.name{
	text-align:center;
}

.card img{
    max-width: 100%;
    max-height: 100%;
	display: block;
	padding:5px;
	object-fit: cover;
  	margin-left: auto;
  	margin-right: auto;
}

div.contain{
	max-width: 90%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.gameName {
  border-top: solid black 1px;
  padding-top: 20px;
}

.chooseTeam{
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.selector{
	margin: 20px;
}

.card h4{
  font-size: 20px;
}

.hist{
  padding-left: 10px;
  padding-top: 0px;
}










