{% extends "base.html" %}
{% block styles %}
        {{ super() }}
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}"/> 
{% endblock %}
{% block page_content %}
<div>
    {% if current_user.is_authenticated %}
	    <h1>Your Survivor Game Page</h1>
	    <h2> {{ current_user.fname }}'s Team </h2>
	    {% set totalPoints = namespace(value=0) %}
	    {% for i in team %}
            <h3> {{i.fname}}  {{i.lname}}</h3>
            <img class="smallIMG" src= {{i.imgSRC}} alt="Castaway">
            <p> Points: {{i.totalPoints}} </p>
            {% set totalPoints.value = totalPoints.value + i.totalPoints %}
        {% endfor %}
  		<h3>Your Total Points: {{totalPoints.value}} </h3>
    {% else %}
        <h1>Welcome to Fantasy Survivor</h1>
    {% endif %}
</div>
{% endblock %}


<!-- 			{% for i in friends %}
			  <li> <a href="http://127.0.0.1:5000/users/{{i}}">{{names[count.value]}}</a></li>
			  
			{% endfor %} -->