{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}"/> 
{% endblock %}
<div>
    {% if current_user.is_authenticated %}
	    <h1>Welcome to Fantasy Survivor, {{ current_user.fname }}</h1>
	    <h2>Please pick your castaway team!</h2>
	    	
	    <div>
	    	{% for i in castaways %}
			 	<input type="checkbox" id="castaway" name="player" value="Castaway">
				<label for="person"> {{i}} </label><br>
				<img src='../static/person.jpg' alt="Castaway">
				<p> their Description here <p>
			{% endfor %}
		</div>

	    <a href="{{url_for('logout')}}">Logout</a> 
    {% else %}
	    <h1>Welcome to Fantasy Survivor</h1>
	    
	    <ul>
	        <li><a href="./login">Login</a></li>
	        <li><a href="./register">Create Account</a></li>
	    </ul>
    {% endif %}
</div>