{% extends "base.html" %} {% block styles %} {{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
{% endblock %} {% block page_content %}

<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img
        src="../static/survivor.png"
        class="d-block mx-lg-auto img-fluid"
        alt="Survivor Icon"
        style="max-height: 400px"
      />
    </div>
    <div class="col-lg-6">
      <h1 class="display-2 text-dark fw-bold lh-1 mb-3">Fantasy Survivor</h1>
      <p class="lead">
        Survivor; social experiment, strategy game, and the ultimate reality
        competition show that has been airing since the dawn of the 21st
        century, season after season, drawing in millions of viewers and
        producing many self-proclaimed superfans who have even gone on to
        compete on the show.
      </p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a href="/login" class="btn btn-dark btn-lg px-4 me-md-2"> Log in </a>
      </div>
    </div>
  </div>
</div>
<div class="p-5 mb-4 bg-light rounded-3">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">How does it work?</h1>
    <p class="col-md-8 fs-4">
      The game ever evolves and has spawned many iterations of itself in
      countries across the globe, all guided by the provocative premise of
      castaways being voted out one by one until only one remains and claims the
      large monetary prize and exclusive, legendary title of Sole Survivor.
    </p>
    <p class="col-md-8 fs-4">
      To add an extra layer of suspense and fun to watching the show and some
      friendly competition amongst fellow fans, we plan to create a website that
      will allow users to form and participate in a Survivor fantasy league, àlà
      Fantasy Football and other Fantasy leagues that are quite popular among
      sports fans. A user will have their own account which they will log in to.
      At the start of the show season, there will be a draft where the user and
      fellow league members will select castaways on the season for their
      fantasy team. Points will be awarded or deducted based on what one’s
      players do in the show each episode (e.g. win individual immunity? +50
      pts, get blindsided!? -100 pts). Point totals for each player will
      accumulate throughout episodes and be added accordingly to the point total
      of the team they belong to, until the end of the season where the user in
      the Fantasy League who has managed to accrue the most points for their
      team shall be declared the victor!
    </p>
  </div>
</div>

<!-- <div>

    <h1>Welcome to Fantasy Survivor</h1>
    <img class="logo" src= "static/survivor.png" alt="Logo">
    <p>Survivor– social experiment, strategy game, and the ultimate reality competition show that has been airing since the dawn of the 21st century, season after season, drawing in millions of viewers and producing many self-proclaimed superfans who have even gone on to compete on the show. The game ever evolves and has spawned many iterations of itself in countries across the globe, all guided by the provocative premise of castaways being voted out one by one until only one remains and claims the large monetary prize and exclusive, legendary title of Sole Survivor.</p>
    <p>To add an extra layer of suspense and fun to watching the show and some friendly competition amongst fellow fans, we plan to create a website that will allow users to form and participate in a Survivor fantasy league, àlà Fantasy Football and other Fantasy leagues that are quite popular among sports fans. A user will have their own account which they will log in to. At the start of the show season, there will be a draft where the user and fellow league members will select castaways on the season for their fantasy team. Points will be awarded or deducted based on what one’s players do in the show each episode (e.g. win individual immunity? +50 pts, get blindsided!? -100 pts). Point totals for each player will accumulate throughout episodes and be added accordingly to the point total of the team they belong to, until the end of the season where the user in the Fantasy League who has managed to accrue the most points for their team shall be declared the victor!</p>
</div> -->
{% endblock %}
