<form action="/login/" method="POST">
    {{ form.csrf_token }}
    <div>
        <h2>Survivor Program</h2>
        <h5>Login</h5>
    </div>
    {% with messages = get_flashed_messages() %} {% if messages %}
    <ul class=flashes>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %} {% endwith %}
    <div>
        {{ form.email(class_="form-control",placeholder="Email")}}
    </div>

    <div>
        {{ form.password_hash(class_="form-control",placeholder="Password")}}
    </div>

    <div>
        <div>
            <button type="submit">Login</button>
        </div>

        <p>
            <a href="{{url_for('register')}}">Create account</a>
        </p>
    </div>
</form>